In [6]:
import pandas as pd
import matplotlib.pyplot as plt
df_ice = pd.read_csv("icecream2.csv")

df_ice

     year  month  icecream
0    2003      1       331
1    2003      2       268
2    2003      3       365
3    2003      4       492
4    2003      5       632
..    ...    ...       ...
115  2012      8      1332
116  2012      9       849
117  2012     10       515
118  2012     11       326
119  2012     12       414

[120 rows x 3 columns]